<link rel="stylesheet" href="../static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<title>Book DB</title>

<div class="header">
    <h2>Book Database</h2>
  </div>

{% include "nav_bar.html" %}

<div class="content">

<h2>Add a book to the database</h2>

<form action="/add_book" method="POST" enctype="multipart/form-data">
    <p><b>Book name:</b> <br>
        <input type="text" name="name" maxlength="100" required></input></p>

    <p><b>Publication year:</b><br>
        <input type="int" step="1" name="year" maxlength="4" required></input></p>

    <p><b>Author:</b><br>
        <input type="text" name="author" maxlength="100" required></input></p>

    <label for="genres"><b>Select genre(s):</b></label> <br>
    <select name="genres[]" multiple>
        {% for genre in genre_list %}
        <option value="{{genre.name}}">{{ genre.name }}</option>
        {% endfor %}
    </select>
    <p>Hold down the Ctrl or Command button to select multiple genres.</p>

    <p><b>Synopsis:</b><br>
        <textarea name="synopsis" maxlength="1000" rows="5" cols="40"></textarea></p>
    <p id="synopsis_chr_limit">Character limit: 1000</p>
    
    <p><b>Cover art:</b>
        <input type="file" id="myFile" name="cover"></p>

    <input type="submit" value="Submit">

    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
</form>

<form action="/">
    <input type="submit" value="Cancel"/>
</form>

{% if  error %}
<p> <b>Error:</b> {{error}}</p>
{% endif %}
</div>

</body>