<title>Book DB</title>

{% include "nav_bar.html" %}

<h2>Review {{book_info.name}}</h2>

<form action="/add_review/{{book_info.name}}" method="POST">

    <fieldset>
        <legend>Rating: *</legend>

        <div>
            <input type="radio" name="rating" value="1"> 1
            <input type="radio" name="rating" value="2"> 2
            <input type="radio" name="rating" value="3" checked> 3 
            <input type="radio" name="rating" value="4"> 4
            <input type="radio" name="rating" value="5"> 5

        </div>

    </fieldset>

    <fieldset>
        <legend>Review:</legend>
        <div>
            <textarea name="review" rows="5" cols="40"></textarea>
        </div>


    </fieldset>

    <br>

    <input type="submit" value="Submit">

    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">

</form>


<form action="/book/{{book_info.name}}">
    <input type="submit" value="Cancel"/>
</form>
