<title>Add a book</title>

<form action="/add_book" method="POST" enctype="multipart/form-data">
    <p><b>Book name:</b> <br>
        <input type="text" name="name" required></input></p>

    <p><b>Publication year:</b><br>
        <input type="int" name="year" required></input></p>

    <p><b>Author:</b><br>
        <input type="text" name="author" required></input></p>

    <label for="genres"><b>Select genre(s):</b></label> <br>
    <select name="genres[]" multiple>
        {% for genre in genre_list %}
        <option value="{{genre.name}}">{{ genre.name }}</option>
        {% endfor %}
    </select>
    <p>Hold down the Ctrl or Command button to select multiple genres.</p>

    <p><b>Synopsis:</b><br>
        <textarea name="synopsis" rows="5" cols="40"></textarea></p>
    
    <p><b>Cover art:</b>
        <input type="file" id="myFile" name="cover"></p>

    <input type="submit" value="Submit">
</form>