<link rel="stylesheet" href="../static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<title>Book DB</title>

<div class="header">
    <h2>Book Database</h2>
  </div>

{% include "nav_bar.html" %}

<div class="content">

<h2>Review {{book_info.name}}</h2>

<form action="/add_review/{{book_info.name}}" method="POST">

    <fieldset>
        <legend>Rating: *</legend>

        <div>
            <input type="radio" name="rating" value="1"> 1
            <input type="radio" name="rating" value="2"> 2
            <input type="radio" name="rating" value="3" checked> 3 
            <input type="radio" name="rating" value="4"> 4
            <input type="radio" name="rating" value="5"> 5

        </div>

    </fieldset>

    <fieldset>
        <legend>Review:</legend>
        <div>
            <textarea name="review" maxlength="2000" rows="5" cols="40"></textarea>
            <p id="review_chr_limit">Character limit: 2000</p>
        </div>


    </fieldset>

    <br>

    <input type="submit" value="Submit">

    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">

</form>


<form action="/book/{{book_info.name}}">
    <input type="submit" value="Cancel"/>
</form>
</div>

</body>