<title>Book DB: {{book.name}}</title>

<h1> {{book.name}} </h1>

{% if session.admin %}

<form action="/delete" method="POST">
    <input type="hidden" value="{{book.id}}" name="id">
    <input type="submit" value="Delete book"></form>
<br>
{% endif %}

<img src="/{{book.cover}}" alt="{{book.name}} Cover"
width="20%"
heigth="auto"/>

<p><b> Publication year:</b> {{book.year}}</p>
<p><b> Author:</b> {{book.author}}</p>
<p><b> Genre(s):</b> {{ ', '.join(genres) }}</p>


<p><b> Synopsis:</b><br>
{{book.synopsis}}</p>

{%if average_rating != 0 %}
<h3>Average rating: {{average_rating}}/5</h3>
{%else%}
<h3>Average rating:</h3>
<p>This book hasn't been reviewed yet.</p>
{%endif%}

{% if session.username %}
<form action="/add_review/{{book.name}}">
    <input type="submit" value="Leave a review"/>
</form>

{% endif %}


<hr>
{% for review in reviews %}
<p><b>Rating:</b> {{review.rating}}/5</p>
<p><b>Review:</b> {{review.review}}</p>
<p>- {{review.username}}</p>

<hr>
{%endfor%}
<br>
<form action="/">
    <input type="submit" value="Home"/>
</form>