<h1> {{book.name}} </h1>
<img src="/{{book.cover}}" alt="{{book.name}} Cover"
width="20%"
heigth="auto"/>

<p><b> Publication year:</b> {{book.year}}</p>
<p><b> Author:</b> {{book.author}}</p>
<p><b> Genre(s):</b> {{ ', '.join(genres) }}</p>


<p><b> Synopsis:</b><br>
{{book.synopsis}}</p>

<br><br>

{% if session.admin %}
<form action="/delete" method="POST">
    <input type="hidden" value="{{book.id}}" name="id">
    <input type="submit" value="Delete book"></form>
{%endif%}



<p><a href="/">Home</a> </p>