<title>Book DB</title>


<form action="/results" method="GET">
    <p>Filter search:
        <input type="checkbox" name="search_option" value="name"> title
        <input type="checkbox" name="search_option" value="synopsis"> synopsis
    </p>
    <input type="submit" value="Search">
    <input type="text" name="query">
    
    </form>
    
<hr>

{%for book in books%}
<a href="/book/{{book.name}}">{{book.name}}</a>
<hr>
{%endfor%}

<br>
<p>

{% if session.username %}
<p>You are logged in as {{ session.username }}</p>
<form action="/add_book">
    <input type="submit" value="Add book"/>
</form>
<form action="/logout">
    <input type="submit" value="Log out"/>
</form>

{% else %}
<p><a href="/login">Log in</a> or <a href="/register">register</a> to add a book.</p> 
{% endif %}




