<link rel="stylesheet" href="../static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<title>Book DB</title>

<div class="header">
    <h2>Book Database</h2>
  </div>

{% include "nav_bar.html" %}

<div class="content">
<h2>Log in to an existing account</h2>

<form action="/login" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Login">

</form>
    
    {%  if  error %}
    <p> <b>Error:</b> {{error}}</p>
    {% endif %} 
    
<form action="/">
    <input type="submit" value="Cancel"/>
</form>
</div>

</body>