<link rel="stylesheet" href="../static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
<title>Register</title>

<div class="header">
    <h2>Book Database</h2>
  </div>

{% include "nav_bar.html" %}

<div class="content">

<h2>Register an account</h2>

<form action="/register" method="POST">
<p>Username: <br>
    <input type="text" name="username"></input>
</p>
<p>Password:<br>
    <input type="password" name="password"></input>
</p>
<p>Repeat password:<br>
    <input type="password" name="password2"></input>
</p>
<input type="submit" value="Register"></input>
</form>

{%  if  error %}
<p> <b>Error:</b> {{error}}</p>
{% endif %}

<form action="/">
    <input type="submit" value="Cancel"/>
</form>
</div>

</body>
